{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ],
    [
      "module-resolver",
      {
        "extensions": [".js"],
        "alias": {
          "util": "./util",
          "pages": "test/pages"
        }
      }
    ]
  ]
}