{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ],
    [
      "module-resolver",
      {

        "cwd": "babelrc",
        "alias": {
          "util": "./util",
          "pages": "./test/pages"
        }
      }
    ]
  ]
}